@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: lightgray;
  /* font-family: 'Italianno', cursive !important; */
}

.center__css {
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.center__css_2 {
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.anchor__css {
  font-size: 60px;
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(167 167 167);
}

.form-control {
  width: 20%;
}

.fs-4 {
  font-size: calc(1.275rem + 4.3vw) !important;
}
